/Lab/IntroLab/helloWorld/dist/
/Lab/IntroLab/helloWorld/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFarenheit/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFarenheit/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFahrenheit/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFahrenheit/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_3_13_Currency/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_13_Currency/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_10_DaysInMonth/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_10_DaysInMonth/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_12_SoftwareSales/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_12_SoftwareSales/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_16_RunningTheRace/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_16_RunningTheRace/dist/