/Lab/IntroLab/helloWorld/dist/
/Lab/IntroLab/helloWorld/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFarenheit/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFarenheit/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFahrenheit/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_12_CelsiusToFahrenheit/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_3_13_Currency/build/
/Hmwk/Review_Homework_1/Gaddis_8th_3_13_Currency/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_10_DaysInMonth/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_10_DaysInMonth/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_12_SoftwareSales/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_4_12_SoftwareSales/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_16_RunningTheRace/build/
/Hmwk/Review_Homework_1/Gaddis_8th_4_16_RunningTheRace/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_5_11_Population/nbproject/private/
/Hmwk/Review_Homework_1/Gaddis_8th_5_11_Population/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_5_11_Population/build/
/Hmwk/Review_Homework_1/Gaddis_8th_6_7_CelsiusTable/build/
/Hmwk/Review_Homework_1/Gaddis_8th_6_7_CelsiusTable/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_7_6_RainOrShine/build/
/Hmwk/Review_Homework_1/Gaddis_8th_7_6_RainOrShine/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_8_7_BinaryStringSearch/build/
/Hmwk/Review_Homework_1/Gaddis_8th_8_7_BinaryStringSearch/dist/
/Hmwk/Review_Homework_1/Gaddis_8th_8_9_SortingBenchmarks/build/
/Hmwk/Review_Homework_1/Gaddis_8th_8_9_SortingBenchmarks/dist/
/Hmwk/Code-E/M1 -- Size of Shapes/build/
/Hmwk/Code-E/M1 -- Size of Shapes/dist/
/Hmwk/Code-E/M2 -- Histogram/dist/
/Hmwk/Code-E/M2 -- Histogram/build/
/Hmwk/Code-E/M5 -- Calculate your Gross Paycheck/build/
/Hmwk/Code-E/M5 -- Calculate your Gross Paycheck/dist/
/Hmwk/Code-E/F2 Sort a 1 Dimensional Array of Characters/dist/
/Hmwk/Code-E/F2 Sort a 1 Dimensional Array of Characters/build/
/Hmwk/Code-E/F6 Augment a table with row_column_grand sums/build/
/Hmwk/Code-E/F6 Augment a table with row_column_grand sums/dist/
/Hmwk/Code-E/F7 Search an array for a value./build/
/Hmwk/Code-E/F7 Search an array for a value./dist/
/Hmwk/Code-E/M1_--_Size_of_Shapes_V1.1/dist/
/Hmwk/Code-E/M1_--_Size_of_Shapes_V1.1/build/
/Hmwk/Assignment 1/Mode - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/Mode - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/Median - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/Median - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/Reverse - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/Reverse - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/Sum - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/Sum - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/2-D Sum - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/2-D Sum - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/1-D Augment - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/1-D Augment - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/2-D Augment - Dynamic Memory Allocation/dist/
/Hmwk/Assignment 1/2-D Augment - Dynamic Memory Allocation/build/
/Hmwk/Assignment 1/Reverse_-_Dynamic_Memory_Allocation_2.0/dist/
/Hmwk/Assignment 1/Reverse_-_Dynamic_Memory_Allocation_2.0/build/
/Hmwk/Assignment 1/Reverse_-_Dynamic_Memory_Allocation/build/
/Hmwk/Assignment 1/Reverse_-_Dynamic_Memory_Allocation/dist/
/Lab/Lab 3 Structures/Structures Movie Data/build/
/Lab/Lab 3 Structures/Structures Movie Data/dist/
/Lab/Lab 3 Structures/Structure Drink Machine Simulator/dist/
/Lab/Lab 3 Structures/Structure Drink Machine Simulator/build/
/Hmwk/Assignment 2/12.7 Sentence Filter/nbproject/private/
/Hmwk/Assignment 2/12.7 Sentence Filter/build/
/Hmwk/Assignment 2/12.7 Sentence Filter/dist/
/Hmwk/Assignment 2/12.8 Array-File Functions/build/
/Hmwk/Assignment 2/12.8 Array-File Functions/dist/
/Hmwk/Assignment 2/12.11 Corporate Sales Data/build/
/Hmwk/Assignment 2/12.11 Corporate Sales Data/dist/